body {
    background-color: lightgoldenrodyellow;
    color: rebeccapurple;
    font-family: Arial;
    margin: 0px;
}

header {
    background-color: rgb(43, 43, 43);
    color: lightgreen;
    padding: 10px;
    font-size: 16pt;
    text-align: center;
}

footer {
    background-color: rgb(43, 43, 43);
    color: lightgreen;
    font-style: italic;
    padding: 10px;
    text-align: right;
}

a {

}

a:visited {
    color: lightslategray;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
}

a:active {
    color: purple;
    background-color: lightgreen;
}