body {
    background-color: lightgoldenrodyellow;
    color: rebeccapurple;
    font-family: Arial;
    margin: 0px;
}

header {
    background: linear-gradient(to right bottom, red, orange, yellow, green, lightblue, blue, purple);
    color: black;
    padding: 10px;
    font-size: 16pt;
    text-align: center;
}

footer {
    background: linear-gradient(to right bottom, red, orange, yellow, green, lightblue, blue, purple);
    color: black;
    font-style: italic;
    padding: 10px;
    text-align: right;
}

a {
    text-shadow: 5px 5px 5px black;
    transition-duration: 3s;
}

a:visited {
    color: lightslategray;
}

a:hover {
    color: red;
    text-decoration: underline;
    background-color: white;
    font-weight: bold;
    transition: 0.4s;
}

a:active {
    color: purple;
    background-color: lightgreen;
}